
Test/Blueberry.png
Test/Carrot.png
Test/Edyta.ipynb
Test/Edyta.xlsx
Test/Kohlrabi.png
Test/pairplot.png
Test/Razem.png
Test/Untitled.ipynb
Test/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Minst/mnist_test.csv
Minst/mnist_train.csv
